.content{
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: repeat(3, auto);
    color: white;
}

.content-left,
.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
}